/* --- GENERAL --- */

/* z index of  0 : selections event sink
 *             1 : desktop icons
 *             2 : selections render
 *             3+: windows
 *           999 : taskbar
 *          1010 : start menu
 */
:root {
    --gray: #C0C0C0;
    --inset: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
    --inset__inverse: inset -1px -1px #fff,inset 1px 1px #0a0a0a,inset -2px -2px #dfdfdf,inset 2px 2px grey; 
    --icon-shadow: -1px -1px #dfdfdf, 1px 1px gray;
    --icon-shadow__active: 1px 1px #dfdfdf, -1px -1px gray;
}

body {
    background-color: #008888;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    height: 100vh;

    overflow: hidden; /* disables elastic scroll on ios */

    font-family: "Pixelated MS Sans Serif";
    font-smooth: never;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}

/* --- START MENU --- */

.start-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;

    display: none;

    z-index: 1010;
}

.start-menu {
    position: fixed;
    bottom: 26px;
    left: 0;

    background-color: var(--gray);

    min-height: 100px;
    width: 174px;

    box-shadow: var(--inset);

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding: 2px;

    user-select: none;
}
.start-menu__stripe {
    background: linear-gradient(180deg, navy, #1084d0);
    width: 21px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1em;
}
.start-menu__stripe-text {
    transform: rotate(270deg);
    color: white;
}

.start-menu__menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;

    align-items: stretch;
    justify-content: flex-start;
}

.start-menu__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 6px;
    margin: 1px 0;
    cursor: pointer;
}
.start-menu__icon {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}
.start-menu__item-text {
    flex-grow: 1;
}
.start-menu__item:hover {
    background-color: navy;
    color: white;
}
.start-menu__item:last-child {
    margin-top: 0px;
}
.start-menu__item-menu-indicator {
    width: 4px;
    height: 7px;
}
.start-menu__item:hover > .start-menu__item-menu-indicator {
    filter: invert();
}
.start-menu__divider {
    border-bottom: 1px solid white;
    border-top: 1px solid gray;
    margin: 2px 2px;
}


/* --- SELECTIONS --- */

.selections-container {
    height: 0;
}

canvas#selections {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    pointer-events: none;

    /* will be sized by js */
}

/* --- DESKTOP --- */

.desktop-container {
    flex-grow: 1;
    position: relative;
    user-select: none;
    z-index: 1;
}

.desktop {
    height: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: repeat(auto-fill, 78px);
    grid-template-columns: repeat(auto-fill, 64px);
    grid-auto-flow: column;

    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.desktop-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:  78px;
    height: 64px;
    margin: 5px;

    text-align: center;
    color: white;

}
.desktop-icon > img {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}
.desktop-icon > span {
    border: 1px solid transparent;
}
.desktop-icon[data-active="true"] > span {
    background-color: blue;
    border: 1px dotted gray;
}
.desktop-icon[data-active="true"] > img {
    filter: url(#blueselect);
}


/* --- TASKBAR --- */

.task-bar {
    background-color: var(--gray);
    /*
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    */
    height: 28px;
    padding: 2px 2px 0 2px;
    /*box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;*/
    box-shadow: inset 0px 1px #dfdfdf, inset 0px 2px #fff;

    z-index: 999;

    display: flex;
    flex-direction: row;
    justify-content: flex-begin;
    align-items: center;

    user-select: none;
}

.task-bar__divider {
    box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
    height: 22px;
    width: 2px;
    margin: 0px 2px;
}

.task-bar__quick {
    margin: 0 2px;
    cursor: pointer;
    padding: 2px;
}
.task-bar__quick:hover {
    box-shadow: -1px -1px #dfdfdf, 1px 1px gray;
}
.task-bar__quick:active {
    box-shadow: 1px 1px #dfdfdf, -1px -1px gray;
}

.task-bar__main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.task-bar__launch {
    /*min-width: 0px !important;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px !important;
    margin: 2px;
    cursor: pointer;
}
.task-bar__launch > img {
    width: 16px;
    height: 16px;
}
.task-bar__launch--active {
    box-shadow: var(--inset__inverse);
    background-image: url(../img/selected_texture.png);
}
.task-bar__launch > img {
    margin-right: 4px;
}

.task-bar__tray {
    height: 22px;
    box-shadow: var(--icon-shadow__active);
    padding: 0 2px;
    margin: 0 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.task-bar__tray__icon {
    margin: 0 1px;
}

/* --- WINDOWING --- */

.window-host { 
    z-index: 5;
}
.window-host > .window[data-window] {
    position: fixed;
    /*
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;*/
}
.window-resize-handle {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 8px;
    width:  8px;
    cursor: nwse-resize;
    background-color: transparent;

}
@media (max-width: 768px) {
    .window-resize-handle {
        transform: scale(2);
        transform-origin: 100% 100%;
    }
}

.window-host > .window:not([data-wm_order="0"]) > .title-bar {
    background: gray;
}

/* --- SHIMS ----*/

.window > .title-bar { user-select: none; }
.window > .title-bar:active { cursor: move; }
.window .title-bar-controls > button { cursor: pointer; }
.window .title-bar-controls > button:active { padding: 0; }
.window { position: relative; }
.window[data-window] > .window-body {height: calc(100% - 36px);}
.window[data-isresizing="true"] { user-select: none; }
.window[data-wm_minimized="true"] { pointer-events: none; opacity: 0; }
.window[data-wm_maximized="true"] {
    height: calc(100% - 36px) !important;
    width:  100% !important;
    left: 0px !important;
    top:  0px !important;
    transform: translateX(-3px)
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering:   -o-crisp-edges;          /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
.svg__defsonly {
    height: 0px;
}

#start-btn {
    min-width: 0px !important;
    padding: 0 2px;
    cursor: pointer;
}
#start-btn > img {
    margin-top: 1px;
}
#start-btn:active > img {
    transform: translate(1px, 1px);
}

#start-btn.start-btn--active {
    transform: translate(1px, 1px);
    box-shadow: var(--inset__inverse);
}
#start-btn.start-btn--active > img {
    border: 1px dotted black;
    margin: -1px;
}

#time {
    margin: 0 4px;
}


