/* --- RESUME --- */
.window[data-name="Resume Viewer"] > .window-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    height: calc(100% - 20px);
}

.window[data-name="Resume Viewer"] iframe {
    flex-grow: 1;
}
/* fix iframe eating events when wm events are occurring/not focused */
.window[data-name="Resume Viewer"]:not([data-wm_order="0"]) iframe,
.window[data-name="Resume Viewer"][data-isdragging="true"]  iframe,
.window[data-name="Resume Viewer"][data-isresizing="true"]  iframe {
    pointer-events: none;
}

.window[data-name="Resume Viewer"] .resume__toolbar {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-start;

    margin-top: 4px;
    padding: 2px;
}

.window[data-name="Resume Viewer"] .resume__toolbar > a {
    margin-left: 1rem;
}


.window[data-name="Resume Viewer"] iframe.resume__iframe--mobile {
    height: 0;
    width: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

/* --- PROMPT --- */

.window[data-name="Prompt"] > .window-body {
    margin: 0;
}

/* --- PORTFOLIO --- */
.window[data-name="Portfolio - Work"],
.window[data-name="Portfolio - School"],
.window[data-name="Portfolio - Personal"] {
    max-width: 90vw;
}
