@mixin create-button($button-base-color) {
	border: 1px solid mix($button-base-color, #ffffff, 25%);
	background-color: $button-base-color;
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 2px;
	transition: background-color .25s;

	&:hover {
		background-color: mix($button-base-color, #ffffff, 50%);
	}

	&:active {
		background-color: mix($button-base-color, #000000, 25%);
	}
	&:focus {
		outline: 0;
	}
	font-size: .75em;
	text-transform: uppercase;

	@content;
}

.btn-primary {
	@include create-button($primary-color);
	color: white;
}

.btn-secondary {
	@include create-button($secondary-color);
	color: white;
}

.btn-tertiary {
	@include create-button(#ffffff);
	color: black;
}
