.grid {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;
	@include media-lg {
		flex-wrap: nowrap;
}
}

.grid-nowrap {
	@extend .grid;
	flex-wrap: nowrap;
}

@for $i from 0 through $column-max {
	.column-#{$i} {
		flex-grow: #{$i};
		margin: auto 0 auto 0;
		width: 100%;
		@include media-lg {
			width: initial;
			margin-left: #{$column-margin / 2};
			margin-right: #{$column-margin / 2};
		}
	}
	.grid-nowrap > .column-#{$i} {
		width: initial;
	}
}

