.container {
	padding: 0 1rem 0 1rem;
	@include media-lg {
		width: 70%;
		padding: 0 15% 0 15%;
	}
}

.container-narrow {
	@extend .container;
	@include media-lg {
		width: 50%;
		padding: 0 25% 0 25%;
	}
}
