.u-fullpage {
	margin: 0px;
	border: 0px;
	padding: 0px;
	height: 100vh;
	width: 100vw;
}

.u-clickable {
	cursor: pointer;
}

@for $i from 1 through $max-margin-helpers {
	.u-#{$i}em-top-margin {
		margin-top: #{$i}em;
	}
	.u-#{$i}em-top-padding {
		padding-top: #{$i}em;
	}
}
